.asterisk{
    color: red;
}

.form-control.is-valid:focus, 
.was-validated :valid.form-control, 
.form-check-label{
    border-color: inherit !important;
    background-image: inherit !important;
    box-shadow: inherit !important;
    color: inherit !important;
}